ul { display: inline-block; text-align: left; }
#title{
  font-family: 'Francois One', sans-serif;
}
#buttons{
  position: fixed;
  width: 100%;
  bottom:0;
  left: 50%;
  transform: translate(-50%, 0%);
}
button{
  border: 2px black double;
  font-family: 'Rubik', sans-serif;
  font-size: 2.5vw;
  background: linear-gradient(0deg, aqua 25%, lime 80%);
}
body{
  font-family: 'Signika', sans-serif;
  font-size: 2vw;
  background: linear-gradient(150deg, lightskyblue 25%, transparent 80%);
  background-size: 100px 100px; 
  background-color: lightblue;
  background-position: 50px 50px;
}
#spacing{
  margin: 5%;
}
#disclaimer{
  position: absolute;
  font-size: 1vw;

}
#what{
  font-family: 'Francois One', sans-serif;
}
#when{
  font-family: 'Francois One', sans-serif;
}
#sign{
  font-family: 'Francois One', sans-serif;
}
#bold{
  color: red;
}
