ul { display: inline-block; text-align: left; }
#title{
  font-family: 'Rubik', sans-serif;
  background-image: url("coolTreeWallpaper.jpeg");
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#buttons{
  position: fixed;
  width: 100%;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
}
button{
  color: black;
  border: 3px black solid;
  font-family: 'Rubik', sans-serif;
  font-size: 2.5vw;
  height: 15vh;
  background: linear-gradient(0deg, coral 25%, salmon 80%);
}
body{
  font-family: 'Signika', sans-serif;
  font-size: 2.5vw;
  background: linear-gradient(150deg, powderblue 25%, lightskyblue 80%);
  background-size: 100px 100px; 
  background-color: lightblue;
  background-position: 50px 50px;
}
#spacing{
  margin: 6%;
}
#disclaimer{
  position: absolute;
  font-size: 1vw;

}
#what{
  font-family: 'Rubik', sans-serif;
}
#when{
  font-family: 'Rubik', sans-serif;
}
#sign{
  font-family: 'Rubik', sans-serif;
}
#bold{
  color: red;
}
#image{
  width: 100%;
}
.ye{
  width: 80%;
}
audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
    display: none;
}
